{% extends 'base.html.twig' %}

{% block title %}Nouveau Client{% endblock %}

{% block body %}
    <h1>Créer un nouveau client</h1>
    <div class="wrapper-form">
    {{ include('client/_form.html.twig') }}
    </div>
    <a href="{{ path('client_index') }}">Retour à la liste</a>
{% endblock %}
